h1{
    
    color:#ffffff

}

.header{
    
    background-color:#7fffd4;
    display:flex;
    justify-content:space-between;
    border-style: dotted;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
}

h2{
display:flex;
justify-content:center
}

.grid{
    display:flex;
flex-wrap: wrap; 
justify-content:space-evenly;


}
p{
    text-align:center;
    font-size:30px;
   
}
.footer{
    display:flex;
    justify-content: flex-end;
}
body{
    
    background-color:#f7c2a9;
}
.item{
    border-style:double;
}

h1{
    display:flex;
    background-color:aquamarine;
    border-style:dotted;
justify-content:center;
padding:30px;
font-family:Arial, Helvetica, sans-serif
}

.hobbies{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.header *{
    border:solid;
}
a:link{
    color:blue
}
a:visited{
    color:purple
}
.item{
    margin-top:50px;
    position: relative;

}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    color:red;

}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.3;
}